* {
  margin: 0;
  font-family: "Arvo", serif;
  font-size: 50px;
  color: white;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.wow {
  background-color: rgb(2, 72, 118);
}

.pop {
  background-color: rgb(0, 138, 191);
}
