* {
  margin: 0;
  font-family: "Arvo", serif;
  color: white;
}

a {
  text-decoration: none;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  top: 0;
  right: 30vw;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 38%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-weight: 100;
  text-align: center;
  vertical-align: middle;
  font-size: 50px;
}

.content p {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  line-height: 4rem;
  font-size: 24px;
  color: rgb(168, 158, 158);
}

.contact-icons a {
  margin: 20px;
}

.enter-btn {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px white solid;
}

.enter-btn:hover {
  animation-name: btnHover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes btnHover {
  from {
    background-color: rgba(0, 0, 0, 0.5);
  }
  to {
    background-color: rgba(116, 108, 108, 0.5);
    transform: translateY(-1px);
  }
}
